
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel="shortcut icon" href="/favicon.jpg" />
    <title><%= config.title %></title>
    <% if (theme.stylesheets !== undefined && theme.stylesheets.length > 0) { %>
        <% theme.stylesheets.forEach(function(url) { %>
          <link rel="stylesheet" href="<%=url%>">
        <% }); %>
    <% } %>
</head>